.header{
    position: relative;
    background-color: var(--light-color);
}

.header__wrapper{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.wrapper{
    max-width: 1140px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
    /* border: 1px solid var(--dark-color); */
}


@media (min-width: 600px){
   .header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
} 
}


.logo{
    font-weight: bold;
    font-size: 20px;
}

.nav__toggle{
    display: none;
}

@media(min-width: 600px){
    .nav__wrapper{
    display: flex;
}
}

.nav__item a{
    display: block;
    padding: 1.5rem 1rem;
}

@media (max-width: 599px){
    .nav__wrapper{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: -1;
        background-color: var(--light-color);
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100%);
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    }


    .nav__wrapper.active{
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    .nav__toggle{
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}

