/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(25, 90%, 54%);
  --first-color-alt: hsl(25, 85%, 50%);
  --title-color: hsl(25, 48%, 12%);
  --text-color: hsl(25, 32%, 24%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(200, 20%, 76%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Jolly Lodger", system-ui;
  --biggest-font-size: 3.5rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 8rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-fixed);
  background-color: transparent;
  transition: box-shadow .4s;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__close,
.nav__toggle {
  display: flex;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}


/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: -120%;
    left: 0;
    width: 100%;

    background-color: var(--body-color);
    box-shadow: 0 2px 16px hsla(25, 48%, 12%, .2);
    padding-block: 5rem;
    transition: top .4s;
  }

}

.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;

}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0%;
}

/* Add shadow header */
.shadow-header{
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(25, 48%, 12%, .2);
}

/*=============== HOME ===============*/
.home__container {
  height: 100vh;
  padding-top: 7rem;
  row-gap: 2rem;
}

.home__data {
  text-align: center;
}

.home__title {
  font: var(--font-regular) var(--biggest-font-size) var(--second-font);
  line-height: 100%;
  color: var(--title-color);
  margin-bottom: .5rem;
}

.home__description {
  margin-bottom: 1.5rem;
}

.home__button {
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  padding: 1rem 2rem;
  border-radius: 4rem;
  box-shadow: 0 16px 32px hsla(25, 90%, 40%, .3);
  transition: background-color .4s;
}

.home__button:hover {
  background-color: var(--first-color-alt);
}

.home__images {
  position: relative;
  justify-self: center;
}

.home__img-1,
.home__img-2 {
  width: 300px;
}

.home__img-1 {
  filter: drop-shadow(0 16px 48px hsla(25, 90%, 40%, .5));
}

.home__img-2 {
  position: absolute;
  top: 0;
  left: 0;
  animation: flicker 8s linear infinite;
}

/* .home__img-2:hover{
  opacity: 1;
} */

/* Animated images */
@keyframes flicker {
  0% {
    opacity: 0;
  }

  31.98% {
    opacity: 0;
  }

  32% {
    opacity: 1;
  }

  32.8% {
    opacity: 1;
  }

  32.82% {
    opacity: 0;
  }

  34.98% {
    opacity: 0;
  }

  35% {
    opacity: 1;
  }

  35.7% {
    opacity: 1;
  }

  35.72% {
    opacity: 0;
  }

  36.98% {
    opacity: 1;
  }

  37% {
    opacity: 1;
  }

  37.6% {
    opacity: 1;
  }

  37.62% {
    opacity: 1;
  }

  67.98% {
    opacity: 1;
  }

  68% {
    opacity: 1;
  }

  68.4% {
    opacity: 1;
  }

  68.42% {
    opacity: 0;
  }

  95.98% {
    opacity: 0;
  }

  96% {
    opacity: 1;
  }

  96.7% {
    opacity: 1;
  }

  96.72% {
    opacity: 0;
  }

  98.98% {
    opacity: 0;
  }

  99% {
    opacity: 1;
  }

  99.6% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

/* Atropos class */
.atropos-inner {
  overflow: initial;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
}

@media screen and (min-width: 350px) and (max-width: 680px) {
  .home__container{
    height: 780px;
    /* background-color: bisque; */
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .home__container{
    grid-template-columns: 380px;
    justify-content: center;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .container{margin-inline: auto;}

   .nav{height:calc(var(--header-height) + 2rem);}

   .nav__toggle,
   .nav__close {display: none;}

   .nav__list{flex-direction: row; column-gap: 5rem;}

  .home__container{
    align-items: center;
    grid-template-columns: 512px 560px;
    column-gap: 3rem;
  }

  .home__data{text-align: initial;}

  .home__description{padding-right: 9rem; margin-bottom: 3rem;}

    .home__img-1,
    .home__img-2{
      width: 560px;
    }

}

/* For taller devices */

@media screen and (max-width: 1150px) and (min-height: 900px) {
  .home__container{align-items: center; border: 1px solid red;}
}