@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #34568B;
    --dark-color: #0D1B2A;
    --gray-color: #4f4f4f;
    --background-color: #f4f4f4;
    --sky-color: #dceef7;
    --gray: #d3d3d3;
    --white: #ffffff;
    --font-family: "Roboto", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    line-height: 1.6;
    /* background-color: var(--background-color); */
    color: var(--primary-color);
}

ul li{
    list-style: none;
}

/* === Header ===  */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    z-index: 10;
    margin: auto;
    padding: 8px 0;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 8px 40px;
}

.header__nav--right {
    margin-right: 0;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__nav {
    display: flex;
}

.header__nav-item{
    padding: 15px 0;;
}

.header__nav--left .header__nav-list,
.header__nav--right .header__icon-list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}

.header__nav-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #003366;
    font-weight: 400;
    font-size: 14px;
}

.header__logo img {
    height: 40px;
}

.header__icon-item a {
    color: #003366;
    font-size: 18px;
}

.header__icon-item img {
    height: 20px;
}

/* Приховати навігаційні елементи при вузькому екрані */
@media (max-width: 768px) {
    .header__nav--left {
        display: none;
    }
    .header__logo img {
        height: 20px;
    }
}

/* === Hero Section === */
.hero {
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: "Hind", sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url('./images/hero-1-.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 0 40px;
}

.hero__content {
    color: #ffffff;
    text-align: left;
    max-width: 50%;
    padding: 20px;
    z-index: 1;
}

.hero__subtitle {
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: #cccccc;
}

.hero__title {
    font-size: 2.5rem;
    margin: 0.5rem 0;
    font-weight: bold;
}

.hero__description {
    font-size: 1rem;
    margin: 1rem 0;
}

.hero__button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #1e2a38;
    border: 2px solid #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero__button:hover {
    background-color: #ffffff;
    color: #1e2a38;
}

/* Медійні запити для великих екранів */
@media (min-width: 1024px) {
    .header__container, .hero {
        padding: 0 80px;
    }
}

/* Медійні запити для мобільних */
@media (max-width: 768px) {
    .hero {
        justify-content: center;
        padding: 0 20px;
    }
    .hero__content {
        text-align: center;
    }
    .hero__title {
        font-size: 1.8rem;
    }
    .hero__description {
        font-size: 0.9rem;
    }
}

/* === Products section === */

/* General Styling */
.products {
    text-align: center;
    padding: 2rem 1rem;
    /* background-color: #f0f0f0 ; */
}

.products__title {
    font-size: 2rem;
    color: #1a1a1a;
    margin-bottom: 0.5rem;
}

.products__subtitle {
    font-size: 1rem;
    color: #666;
    margin-bottom: 2rem;
}

.products__grid {
    display: grid;
    gap: 1.5rem;
}

/* Product Card Styling */
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
    height: 100%; /* Додаємо 100% висоту для автоматичного вирівнювання */
}

.product-card__image {
    max-width: 75%;
    height: auto;
    margin-bottom: 1rem;
}

.product-card__name {
    font-size: 1.2rem;
    color: #1a1a1a;
    margin: 1rem 0 0.5rem;
}

.product-card__description {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1rem;
}

.product-card__price {
    font-size: 1.5rem;
    color: #1a1a1a;
    margin-bottom: 1rem;
}

.product-card__name,
.product-card__description,
.product-card__price,
.product-card__button {
    margin-bottom: 1rem;
}

.product-card__button {
    background-color: #fff;
    border: 1px solid #1a1a1a;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #1a1a1a;
    cursor: pointer;
    border-radius: 4px;
    align-self: center; /* Щоб кнопка залишалась по центру */
}

/* Responsive Grid Layout */
@media (min-width: 600px) {
    .products__grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .products__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* === Articles section === */
.articles {
    display: flex;
    flex-wrap: wrap;
    /* gap: 1rem; */
    /* paddin g: 2rem; */
}

.article {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 48%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* margin-bottom: 1rem; */
    background: var(--sky-color);
}

/* Шаблон 1: Зображення ліворуч, контент праворуч */
.article:nth-of-type(3n+1) {
    flex-direction: row;
}

.article:nth-of-type(3n+2) {
    flex-direction: row-reverse;
}

.article:nth-of-type(3n+3) {
    flex-direction: row;
}

.article__image {
    width: 50%;
    height: auto;
}

.article__content {
    width: 100%;
    padding: 40px 25px 40px 30px;
}

.article__tagline {
    text-transform: uppercase;
    font-size: 0.75rem;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

.article__title {
    font-size: 3.1rem;
    color: var(--primary-color);
    line-height: normal;
    margin: 0.5rem 0;
}

.article__description {
    font-size: 1rem;
    color: var(--gray-color);
    margin: 0.5rem 0 1rem;
}

.article__button {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: var(--dark-color);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-size: 1rem;
    width: 50%;
    border: 2px solid var(--dark-color);
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.article__button:hover {
    background-color: #fff;
}

/* Responsive */
@media (max-width: 768px) {
    .article {
        flex-direction: column !important;
        max-width: 100%; 
    }

    .article__image,
    .article__content {
        width: 100%; 
    }

    .article__content {
        padding: 1rem;
    }

    .article__title {
        font-size: 1.2rem; 
    }

    .article__description {
        font-size: 0.9rem;
    }

    .article__button {
        font-size: 0.9rem; 
    }
}

/* === Footer === */
.footer{
    background-color: var(--dark-color);
    color: var(--white);
    padding: 45px 20px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1376px;
    width: 100%;
    margin: 0 auto;
    padding: 0 45px;
  }

  /* footer signup */
.footer__signup{
    flex: 1;
    max-width: 400px;
    padding-right: 45px;
    margin-right: 50px;
}

.footer__signup-text{
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-bottom: 1.5rem;
}

/* footer-form */
.footer__form{
    display: flex;
    gap: 10px;
    margin-bottom: 1.5rem;
}

.footer__input{
    flex: 1;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    padding: 0.5em ;
}

.footer__button{
    font-size: 1em;
    color: var(--white);
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
}

.footer__button:hover{
    background-color: #005fa3;
}

.footer__agreement{
    font-size: 0.9em;
}

.footer__link{
    color: var(--sky-color);
    text-decoration: none;
}

.footer__link:hover{
    text-decoration: underline;
}

/* footer sections */
.footer__sections{
    display: flex;
    flex: 2;
    gap: 20px;
}

.footer__section{
    flex: 1;
    margin-right: 50px;
}

.footer__title{
    font-size: 1.1 rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.footer__list{
    list-style: none;
    padding: 0;
}

.footer__item{
    margin: 5px 0;
}

.footer__item a{
    font-size: 0.8rem;
}

/* responsive */

@media (max-width: 768px){
    .footer__container{
        flex-direction: column;
    }

    .footer__signup{
        max-width: 90%;
        margin: auto;
        padding: 0;
    }

    .footer__form{
        flex-direction: column;
    }

    .footer__input,
    .footer__button{
        width: 100%;
    }

    .footer__sections{
        flex-direction: column;
        margin: auto;
    }
}

@media (max-width: 480px) {
    .footer__signup-text {
      font-size: 1em;
    }
  
    .footer__title {
      font-size: 1em;
    }
}