/* HERO */

.hero-banner { display: none; }

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: 145px 60px;
  text-align: center;
}

.hero-subtitle {
  color: var(--dark-orange);
  font-family: var(--ff-shadows-into-light);
  font-size: var(--fs-3);
  letter-spacing: 1px;
  margin-block-end: 25px;
}

.hero-title {
  color: var(--champagne-pink);
  max-width: 12ch;
  margin-inline: auto;
}

.hero-text {
  color: var(--desert-sand);
  margin-block: 15px 30px;
  max-width: 44ch;
  margin-inline: auto;
}

.hero .btn { margin-inline: auto; }

.hero .btn:is(:hover, :focus) {
  background-color: var(--white);
  color: var(--black);
}

  /* MEDIA QUERIES */

/* responsive for larger than 480px screen */
@media (min-width: 480px) {

}

/* responsive for larger than 550px screen */
@media (min-width: 550px) {

    .container {
        max-width: 550px;
        width: 100%;
        margin-inline: auto;
    }

    .has-scrollbar>li {
        min-width: calc(50% - 5px);
    }

    .footer-top .container {
        grid-template-columns: 1fr 1fr;
    }

    .hero-title {
        --fs-1: 4.2rem;
    }

}

/* responsive for larger than 768px screen */
@media (min-width: 768px) {

    .container {
        max-width: 720px;
    }

    .hero {
        position: relative;
        text-align: left;
        overflow: hidden;
        z-index: 1;
    }

    .hero-content> :is(*, .btn) {
        margin-inline: 0;
    }

    .hero-banner {
        display: block;
        position: absolute;
        top: calc(50% + 86px);
        transform: translateY(-50%);
        right: 50px;
        max-width: 40%;
        aspect-ratio: 1 / 0.9;
    }

    .hero-img {
        position: absolute;
        bottom: 0;
    }

    .hero::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -2px;
        width: 100%;
        height: 100%;
        background-image: url("../images/hero-bg-shape.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right bottom;
        pointer-events: none;
        z-index: -1;
    }
}

/* responsive for larger than 992px screen */
@media (min-width: 992px) {

    .hero {
        min-height: 660px;
        display: grid;
        align-items: center;
    }

    .hero-subtitle {
        --fs-3: 3.2rem;
    }

    .hero-title {
        --fs-1: 7rem;
        letter-spacing: -2.5px;
    }

    .hero-text {
        font-size: var(--fs-3);
    }

    .hero-banner {
        max-width: 45%;
        top: auto;
        bottom: 0;
        transform: translateY(0);
    }

    .hero-img-bg {
        transform: scale(1.4) translate(20px, -20px);
    }



}

/* responsive for larger than 1200px screen */
@media (min-width: 1200px) {

    .container {
        max-width: 1200px;
    }

    .hero {
        min-height: 770px;
    }

}









  /* MEDIA QUERIES */

/* responsive for larger than 480px screen */
@media (min-width: 480px) {

}

/* responsive for larger than 550px screen */
@media (min-width: 550px) {

}

/* responsive for larger than 768px screen */
@media (min-width: 768px) {

}
/* responsive for larger than 992px screen */
@media (min-width: 992px) {


}

/* responsive for larger than 1200px screen */
@media (min-width: 1200px) {

}