  
  
  /*-----------------------------------*\
    #HEADER
  \*-----------------------------------*/
  
  /* .navbar, */
  .header-btn-group .btn { display: none; }
  
  .header {
    --color: var(--gray-x-11-gray);
    --btn-color: var(--champagne-pink);
  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 20px;
    border-block-end: 1px solid var(--champagne-pink_20);
    z-index: 4;
  }
  
  .header.active {
    --color: var(--rich-black-fogra-29);
    --btn-color: var(--rich-black-fogra-29);
  
    position: fixed;
    top: -86px;
    background-color: var(--white);
    box-shadow: var(--shadow-1);
    animation: slideIn 0.5s ease-out forwards;
  }
  
  @keyframes slideIn {
    0% { transform: translateY(0); }
    100% { transform: translateY(100%); }
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: var(--color);
    font-family: var(--ff-rubik);
    font-size: 2.8rem;
    font-weight: var(--fw-700);
    letter-spacing: -2px;
  }
  
  .logo .span {
    display: inline-block;
    color: var(--deep-saffron);
  }
  
  .header-btn-group {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .search-btn {
    color: var(--sonic-silver);
    /* color: var(--btn-color); */
    font-size: 20px;
  }
  
  .search-btn ion-icon { --ionicon-stroke-width: 50px; }
  
  .nav-toggle-btn {
    display: grid;
    gap: 4px;
  }
  
  .line {
    width: 10px;
    height: 3px;
    background-color: var(--btn-color);
    border-radius: 5px;
    transition: var(--transition-1);
  }
  
  .line.middle { width: 20px; }
  
  .line.bottom { margin-left: auto; }
  
  .nav-toggle-btn.active .line.top { transform: translate(1px, 3px) rotate(45deg); }
  
  .nav-toggle-btn.active .line.middle { transform: rotate(-45deg); }
  
  .nav-toggle-btn.active .line.bottom { transform: translate(-1px, -3px) rotate(45deg); }
  
  .navbar {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 30px);
    background-color: var(--white);
    padding-inline: 20px;
    box-shadow: var(--shadow-1);
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: var(--transition-1);
  }
  
  .navbar.active {
    height: 236px;
    visibility: visible;
  }
  
  .navbar-list { margin-block: 10px; }
  
  .nav-item:not(:last-child) { border-block-end: 1px solid hsla(0, 0%, 0%, 0.04); }
  
  .navbar-link {
    color: var(--rich-black-fogra-29);
    font-size: var(--fs-4);
    font-family: var(--ff-rubik);
    font-weight: var(--fw-500);
    padding: 10px 15px;
    transition: var(--transition-1);
  }
  
  .navbar-link:is(:hover, :focus) { color: var(--dark-orange); }
  
  
  
  
  /*-----------------------------------*\
    #SEARCH BOX
  \*-----------------------------------*/
  
  .search-container {
    position: fixed;
    top: -60%;
    left: 0;
    width: 100%;
    height: 110%;
    background-color: var(--black_95);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 15px;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition-2);
  }
  
  .search-container.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(50%);
  }
  
  .search-box {
    position: relative;
    width: 100%;
    max-width: 500px;
  }
  
  .search-input {
    color: var(--gainsboro);
    font-size: 3rem;
    padding: 20px 15px;
    padding-inline-end: 70px;
  }
  
  .search-input::placeholder { color: var(--spanish-gray); }
  
  .search-input::-webkit-search-cancel-button { display: none; }
  
  .search-submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    color: var(--onyx);
    font-size: 4rem;
    transition: var(--transition-1);
  }
  
  .search-submit:is(:hover, :focus) { color: var(--gainsboro); }
  
  .search-close-btn {
    position: absolute;
    inset: 0;
    z-index: -1;
    cursor: url("../images/close.png"), auto;
  }
  
  
  

  
  

  
  
  
  /* MEDIA QUERIES */

/* responsive for larger than 480px screen */
@media (min-width: 480px) {

    .header-btn-group .btn {
        display: block;
        --bg-color: var(--dark-orange);
    }

}

/* responsive for larger than 550px screen */
@media (min-width: 550px) {

    .container {
        max-width: 550px;
        width: 100%;
        margin-inline: auto;
    }

    .has-scrollbar>li {
        min-width: calc(50% - 5px);
    }

    .footer-top .container {
        grid-template-columns: 1fr 1fr;
    }

    .hero-title {
        --fs-1: 4.2rem;
    }

}

/* responsive for larger than 768px screen */
@media (min-width: 768px) {

    .container {
        max-width: 720px;
    }

    .hero {
        position: relative;
        text-align: left;
        overflow: hidden;
        z-index: 1;
    }

    .hero-content> :is(*, .btn) {
        margin-inline: 0;
    }

    .hero-banner {
        display: block;
        position: absolute;
        top: calc(50% + 86px);
        transform: translateY(-50%);
        right: 50px;
        max-width: 40%;
        aspect-ratio: 1 / 0.9;
    }

    .hero-img {
        position: absolute;
        bottom: 0;
    }

    .hero::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -2px;
        width: 100%;
        height: 100%;
        background-image: url("../images/hero-bg-shape.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right bottom;
        pointer-events: none;
        z-index: -1;
    }
}

/* responsive for larger than 992px screen */
@media (min-width: 992px) {

    :root {
        --section-padding: 120px;

    }

    .container {
        max-width: 960px;
    }

    .has-scrollbar>li {
        min-width: calc(33.33% - 6.66px);
    }

    .h2 {
        --fs-1: 4.2rem;
    }

    .nav-toggle-btn {
        display: none;
    }

    .header .container {
        gap: 20px;
    }

    .navbar,
    .navbar.active {
        all: unset;
        margin-inline-start: auto;
    }

    .navbar-list {
        margin-block: 0;
        display: flex;
        gap: 5px;
    }

    .hero {
        min-height: 660px;
        display: grid;
        align-items: center;
    }

    .hero-subtitle {
        --fs-3: 3.2rem;
    }

    .hero-title {
        --fs-1: 7rem;
        letter-spacing: -2.5px;
    }

    .hero-text {
        font-size: var(--fs-3);
    }

    .hero-banner {
        max-width: 45%;
        top: auto;
        bottom: 0;
        transform: translateY(0);
    }

    .hero-img-bg {
        transform: scale(1.4) translate(20px, -20px);
    }



}

/* responsive for larger than 1200px screen */
@media (min-width: 1200px) {

    .container {
        max-width: 1200px;
    }

    .hero {
        min-height: 770px;
    }

}